@page
@model StudentsEducation.Web.Areas.Admin.Pages.Teachers_Schedules.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Name)
        </dd>
    </dl>
</div>
<div>
    <h4>Предметы которые ведет преподаватель</h4>
    @foreach(var item in Model.Schedules)
    {
        <p>@item.StartsIn @item.EndsIn @item.Subject.Name</p>
    }


</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Teacher.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
