@page
@model StudentsEducation.Web.Areas.Admin.Pages.Teachers_Schedules.IndexModel

@{
    ViewData["Title"] = "Преподаватели и расписание";
}

<h1>Преподаватели и их расписание</h1>
<p>
    <a asp-page="Create">Добавить преподавателя</a>
</p>
<hr />
<div class="col-md-6">
    <h6>Поиск по ФИО преподавателя</h6>
    <form class="input-group">
        <input asp-for="@Model.SearchQuery" class="form-control py-2  border" type="search" value="" id="search-input" />
        <span class="input-group-append">
            <input class="btn btn-outline-primary border-left border" value="Найти" type="submit" />
        </span>
    </form>
</div>
@foreach (var teach in Model.Teacher)
{
    <hr />
    <p>
        @teach.Id | @teach.Name | <a class="btn btn-link" asp-page="./Edit" asp-route-id="@teach.Id">Изменить преподавателя</a> | <a class="btn btn-link" asp-page="./Delete" asp-route-id="@teach.Id">Удалить</a>
    </p>
    @(await Html.RenderComponentAsync<SchedulesList>(RenderMode.ServerPrerendered,new { TeacherId = teach.Id }))
    <hr />
}