@page
@model StudentsEducation.Web.Areas.Admin.Pages.Teachers_Schedules.ScheduleModel
@{
    ViewData["Title"] = "Расписание";
}
<div class="row">
    <div class="col-4 border-right">
        <h1>Текущие:</h1>
        @foreach(var elem in Model.CurrentSchedules)
        {
            <p>@elem.Group.Name | @elem.Subject.Name</p>
        }
    </div>
    <div class="col-4 border-right">
        <h1>Будующие:</h1>
        @foreach (var elem in Model.NewSchedules)
        {
            <p>@elem.Group.Name | @elem.Subject.Name</p>
        }
    </div>
    <div class="col-4">
        <h1>Прошедшие:</h1>
        @foreach (var elem in Model.PrevSchedules)
        {
            <p>@elem.Group.Name | @elem.Subject.Name</p>
        }
    </div>
</div>

