@page
@model StudentsEducation.Web.Areas.Admin.Pages.ControlTypes.IndexModel

@{
    ViewData["Title"] = "Типы контроля";
}

<h1>Типы контроля</h1>

<p>
    <a asp-page="Create">Добавить тип контроля</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ControlType[0].ControlName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ControlType[0].LowValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ControlType[0].HighValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ControlType[0].SatisfactorilyValue)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ControlType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ControlName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LowValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HighValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SatisfactorilyValue)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
