@page
@model StudentsEducation.Web.Areas.Admin.Pages.Students.FinalControls.DeleteModel

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<h3>Вы действительно хотите удалить?</h3>
<div>
    <h4>Итоговая оценка</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalControl.MarkValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalControl.MarkValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalControl.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalControl.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalControl.WasModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalControl.WasModified)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalControl.Schedule)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinalControl.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinalControl.Student.GradeBookNumber)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="FinalControl.Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index" asp-route-id="@Model.FinalControl.StudentId">Вернуться к списку итоговых оценок</a>
    </form>
</div>
