@page
@model StudentsEducation.Web.Areas.Admin.Pages.Students.FinalControls.IndexModel

@{
    ViewData["Title"] = "Зачеты";
}

<h1>Зачеты</h1>
<h6>Студент: @Model.Student.Name | Номер зачетной книжки: @Model.Student.GradeBookNumber</h6>
<p>
    <a asp-page="Create" asp-route-id="@Model.Student.Id">Добавить зачет</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FinalControl.First().MarkValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalControl.First().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalControl.First().WasModified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FinalControl) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MarkValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WasModified)
            </td>
            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StudentId" asp-route-fcId="@item.Id">Изменить</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>    
