@page
@model StudentsEducation.Web.Areas.TeachersPanel.Pages.Raitings.ForGroupModel
@{
    ViewData["Title"] = "Рейтинг по группе";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Рейтинг успеваемости по группе</h1>

@foreach(var item in Model.Schedules.OrderBy(e=>e.EndsIn).Reverse())
{
    <p>@item.Group.Name  @item.Subject.Name, заканчивается - @item.EndsIn.ToShortDateString()</p>
    <hr />
    <table class="table">
        <thead class="table">
            <tr>
                <th>
                    Студент
                </th>
                <th>
                    Успеваемость по предмету
                </th>
            </tr>
        </thead>
        @foreach (var initem in Model.Schedules.Select(e => e.Group).Select(e => e.Students).SelectMany(e => e).Distinct())
        {
            <tr>
                <td>@initem.Name</td>
                <td>@((await Model.GetAcademic(initem.Id,item.Id)).ToString("0.00%"))</td>
            </tr>
        }
    </table>
    <hr />
}

