@page
@model StudentsEducation.Web.Areas.Admin.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Студенты";
}

    <h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Добавить студента</a>
</p>
<hr />
<div class="col-md-6">
    <h6>Поиск по группе</h6>
    <form class="input-group">
        <input asp-for="@Model.SearchQuery" class="form-control py-2  border" type="search" value="" id="search-input" />
        <span class="input-group-append">
            <input class="btn btn-outline-primary border-left border" value="Найти" type="submit"/>
        </span>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].GradeBookNumber)
            </th>
            <th>Имя группы</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Students) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradeBookNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.Group.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-page="./FinalControls/Index" asp-route-id="@item.Id">Зачеты</a> |
                <a asp-page="./Skips/Index" asp-route-id="@item.Id">Пропуски</a> |
                <a asp-page="./Marks/Index" asp-route-id="@item.Id">Оценки</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
        }
    </tbody>
</table>
