@page
@model StudentsEducation.Web.Areas.TeachersPanel.Pages.MarksModel
@{
    ViewData["Title"] = "Оценки";
}

<h4>Оценки</h4>

<div class="list-group">
    <div class="list-group-item row">
        <h4>Группа и предмет:</h4>
        <form>
            <select class="form-control custom-select col-6" asp-for="MarksBy" asp-items="ViewBag.Schedules"></select>

            <input type="submit" class="btn btn-primary" value="Получить" />
        </form>
    </div>
</div>
@section BodyTables{
    @if (Model.MarksBy > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Студент
                    </th>
                    @foreach (var work in Model.ScheduleForView.Subject.Works.OrderBy(e => e.WorkNumber))
                    {
                        <th>@work.Name</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model.ScheduleForView.Group.Students)
                {
                    <tr>
                        <td>
                            <a asp-page="Students/Edit" asp-route-id="@student.Id">@student.Name</a>
                        </td>
                        @foreach (var work in Model.ScheduleForView.Subject.Works.OrderBy(e => e.WorkNumber))
                        {
                            <th><a asp-page="Students/MarkEdit" asp-route-workId="@work.Id" asp-route-stId="@student.Id">@(await Model.GetMark(student, work.Id))</a></th>
                        }
                    </tr>
                }
            </tbody>
        </table>
        <a asp-page="Deadlines" asp-route-id="MarksBy" class="btn btn-primary">
            Добавить или изменить даты для этих работ и расписания
        </a>
    }
}
