@page
@model StudentsEducation.Web.Areas.Admin.Pages.Cathedras_Groups.IndexModel
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@using StudentsEducation.Web.Components
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cathedra.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cathedra.First().MainPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cathedra.First().SecondPhoneNumber)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cathedra)
        {
            <tr>
                <td>
                    <a href="#@item.Id" data-toggle="collapse">+</a>
                    @Html.DisplayFor(modelItem => item.Name)
                    <div class="collapse" id="@item.Id">
                        @(await Html.RenderComponentAsync<GroupList>(RenderMode.ServerPrerendered,new { CathedraId = item.Id, Editable=false}))
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MainPhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondPhoneNumber)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>

</table>
