@page
@model StudentsEducation.Web.Areas.Admin.Pages.Cathedras_Groups.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cathedra[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cathedra[0].MainPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cathedra[0].SecondPhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cathedra) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondPhoneNumber)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
