@page
@model StudentsEducation.Web.Areas.Admin.Pages.Students.Marks.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Mark</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mark.MarkValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mark.MarkValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mark.DateAdd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mark.DateAdd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mark.DateToPass)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mark.DateToPass)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mark.WasModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mark.WasModified)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mark.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mark.Student.GradeBookNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mark.Work)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mark.Work.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Mark.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
