@page
@model StudentsEducation.Web.Areas.Admin.Pages.Subjects_Works.IndexModel

@{
    ViewData["Title"] = "Список предметов и работ";
}

<h1>Список предметов и работ</h1>

<p>
    <a asp-page="Create">Добавить предмет</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model=> model.Subject[0].ControlType.ControlName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Subject) {
        <tr>
            <td>
                @if (item.Works.Count() > 0)
                {
                    <a href="#@item.Id" data-toggle="collapse" class="dropdown-toggle"></a>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                <div class="collapse" id="@item.Id">
                    @(await Html.RenderComponentAsync<WorksList>(RenderMode.ServerPrerendered,new { SubjectId = item.Id, Editable=false}))
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem=> item.ControlType.ControlName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
