@page
@model StudentsEducation.Web.Areas.Admin.Pages.Roles.DetailsModel

@{
    ViewData["Title"] = "Информация";
}

<h1>Информация</h1>

<div>
    <h4>Роль</h4>
    <hr />
    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Role.Name)
        </dt>
        <dd class="col-md-5">
            @Html.DisplayFor(model => model.Role.Name)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Role.NormalizedName)
        </dt>
        <dd class="col-md-5">
            @Html.DisplayFor(model => model.Role.NormalizedName)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Role.ConcurrencyStamp)
        </dt>
        <dd class="col-md-5">
            @Html.DisplayFor(model => model.Role.ConcurrencyStamp)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.Role.Description)
        </dt>
        <dd class="col-md-5">
            @Html.DisplayFor(model => model.Role.Description)
        </dd>
    </dl>
        <div class="col-md-5" >
            <h1>Список пользователей с этой ролью:</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.Users.ToList()[0].UserName)</td>
                        <td>
                            @Html.DisplayNameFor(model => model.Users.ToList()[0].Id)
                        </td>
                    </tr>
                </thead>
                <tbody class="table-bordered">
                    @foreach (var elem in Model.Users)
                    {
                        <tr>
                            <td>
                                @elem.UserName
                            </td>
                            <td>
                                @elem.Id
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    <a asp-page="./Edit" asp-route-id="@Model.Role.Id">Изменить</a> |
    <a asp-page="./Index">Вернуться к списку Ролей</a>
<div>

</div>
